%content-styles {
    h2,
    h3 {
        font-size: 2rem;
        margin-bottom: 0.5rem;
        font-weight: 700;
        letter-spacing: -0.02em;
    }
    p {
        font-size: 1rem;
        color: #666;
    }
}
