$primary-color: #009688;
$dark: #111827;
$grey: #9ca3af;
$white: #fff;
$black: #000;
$light: #f5f5f5;
$light-grey: #f5f5f5;
$teal: #20c997;
$dark-grey: #222;
$dark-blue: #0a0e27;

$header-height: 80px;

// Typography
$font-family: "Manrope", sans-serif;

// Colors
$theme-colors: (
    primary: $primary-color,
    dark: $dark,
    grey: $grey,
    white: $white,
    black: $black,
    light: $light,
    light-grey: $light-grey,
    teal: $teal,
    dark-grey: $dark-grey,
    dark-blue: $dark-blue,
);
